body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:886px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:886px;
  font-size:48px;
}
#u18 {
  position:absolute;
  left:2px;
  top:414px;
  width:1196px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:74px;
  font-size:20px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:25px;
  width:66px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:74px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:70px;
  top:0px;
  width:1130px;
  height:74px;
}
#u23 {
  position:absolute;
  left:2px;
  top:29px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:990px;
  top:24px;
  width:2px;
  height:27px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:760px;
  top:26px;
  width:2px;
  height:27px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gujarati Sangam MN Regular', 'Gujarati Sangam MN';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:97px;
  top:26px;
  width:202px;
  height:29px;
  font-family:'Gujarati Sangam MN Regular', 'Gujarati Sangam MN';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:1044px;
  top:15px;
  width:89px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:2px;
  top:13px;
  width:85px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:48px;
}
#u32 {
  position:absolute;
  left:801px;
  top:15px;
  width:43px;
  height:48px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:853px;
  top:21px;
  width:97px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:854px;
  top:42px;
  width:57px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:1392px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:0px;
  top:74px;
  width:168px;
  height:1392px;
}
#u40 {
  position:absolute;
  left:2px;
  top:688px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:0px;
  top:74px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:0px;
  top:115px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u44 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:0px;
  top:192px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:0px;
  top:274px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u49 {
  position:absolute;
  left:0px;
  top:233px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u50 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:0px;
  top:392px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:0px;
  top:156px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:0px;
  top:351px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:0px;
  top:310px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u58 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u59 {
  position:absolute;
  left:0px;
  top:433px;
  width:168px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:2px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:168px;
  top:74px;
  width:1032px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u63 {
  position:absolute;
  left:189px;
  top:82px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
